@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --background-color: #ffffff;
  --text-color: #333;
  --secondary-text-color: #7d7d7d;
  --card-background: #cbc9c9;
  --border-color: #ddd;
  --link-color: #660404;
  --highlight-color: #ff4500;
  --speaker-card: rgb(0, 0, 0);
}

[data-theme="dark"] {
  --background-color: #848484;
  --text-color: #f0f0f0;
  --secondary-text-color: #a0a0a0;
  --card-background: #2c2c2c;
  --border-color: #333;
  --link-color: #1e90ff;
  --highlight-color: #ff4500;
  --speaker-card: rgb(0, 0, 0);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 60px;
  border-radius: 10px;
}


.header-left {
  display: flex;
  margin: 0px 15px;
  width: 200px;
  padding-top: 5px;
  align-items: center;
  justify-content: space-between;
}

.header .logo img {
  height: 40px;
}

.header-right {
  display: flex;
  padding: 15px;
  align-items: center;
  /* border: 1px solid; */
  width: 200px;
  justify-content: space-between;
}

.dark-mode-toggle {
  padding: 10px 20px;
  border: none;
  background-color: #6200ea;
  color: #ffffff;
  cursor: pointer;
}

.dark-mode-toggle:hover {
  background-color: #3700b3;
}

.register-button {
  padding: 10px 10px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.register-button:hover {
  background-color: #3700b3;
}

body.dark-mode .header {

  background-color: rgb(88, 88, 88);
  border-bottom-color: rgb(120, 120, 120);
}

body.dark-mode {
  background-color: rgb(31, 31, 31);
}

.statistics {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 0px 50px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat {
  text-align: center;
  margin: 10px;
}


.number {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 8px;
}

.label {
  display: block;
  font-size: 1rem;
  color: var(--secondary-text-color);

}

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  margin: 20px;
  padding: 50px 20px;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 15px;
  z-index: -1;
}

.hero-text {
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  max-width: 500px;
  text-align: left;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.counter {
  display: flex;
  flex-direction: column;
}



.countdown-timer {
  display: flex;
  margin: 20px 0;
}

.time-box {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  margin: 0 10px;
  border-radius: 10px;
  text-align: center;
}

.time {
  font-size: 24px;
  font-weight: bold;
}

.label {
  display: block;
  margin-top: 5px;
}

.register-now {
  padding: 15px 30px;
  background-color: #5a67d8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.register-now:hover {
  background-color: #4c51bf;
  transform: scale(1.05);
}

.event-schedule {
  padding: 20px;
  margin: 0px 30px;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.event {
  display: flex;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.event:hover {
  transform: translateY(-5px);
}

.event-icon {
  background-color: #f0f4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.event-content {
  flex: 1;
  color: black;
  padding: 20px;
}

.event-category {
  display: inline-block;
  background-color: var(--highlight-color);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  margin-bottom: 10px;
}

.event-title {
  font-size: 2rem;
  margin: 0 0 20px;
}

.event-description {
  font-size: 1rem;
  color: var(--secondary-text-color);
  margin: 0 0 20px;
}

.event-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-date {
  font-size: 0.875rem;
  color: var(--secondary-text-color);
}

.event-ticket {
  font-size: 0.875rem;
  color: var(--link-color);
  text-decoration: none;
}

.event-ticket:hover {
  text-decoration: underline;
}

.speakers-section {
  text-align: center;
  padding: 40px 20px;
}

.speakers-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.speakers-subtitle {
  font-size: 1rem;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.speakers-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.speaker-card {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  color: rgb(0, 0, 0);
  border-radius: 8px;
  width: 200px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.speaker-card:hover {
  transform: translateY(-5px);
}

.speaker-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.speaker-info {
  padding: 15px;
}

.speaker-name {
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.speaker-title {
  font-size: 0.875rem;
  color: var(--secondary-text-color);
  margin-bottom: 15px;
}

.speaker-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link {
  color: var(--link-color);
  font-size: 1.25rem;
  text-decoration: none;
}

.social-link:hover {
  text-decoration: underline;
}

.about-us-section {
  text-align: center;
  padding: 40px 20px;
  border-radius: 8px;
  margin: 50px 30px;
  border: 1px solid gray;
}

.about-us-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.about-us-description {
  font-size: 1rem;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.carousel-slide {
  position: relative;
}

.carousel-slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.carousel-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  margin: 0;
}

.carousel-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.carousel-description {
  font-size: 1rem;
}

.event-details-section {
  text-align: center;
  padding: 40px 20px;
  background-color: var(--card-background);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 40px auto;
}

.event-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.event-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 300px;
}

.event-icon {
  font-size: 2rem;
  color: var(--link-color);
  margin-right: 15px;
}

.event-item-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: var(--text-color);
}

.event-item-description {
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: bold;
}

.event-description {
  font-size: 1.7rem;
  color: var(--text-color);
  /* max-width: 600px; */
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
  background-color: var(--background-color);
}

.dark .App {
  background-color: black;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}

.dark .card {
  background-color: #2c2c2c;
  color: #ffffff;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

.dark .cards {
  background-color: #1e1e1e;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dark .card {
  background-color: #2c2c2c;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card p {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .card {
    padding: 10px;
  }

  .card p {
    font-size: 14px;
  }
}

/* Comp.css */
/* Attendees Page Styles */
.attendees-page {
  padding: 20px;
}

.attendees-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* SearchBar Styles */
.search-bar {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 40px;
}

.search-bar input {
  padding: 10px;
  margin-left: 50px;
  width: 400px;
  /* Elongate search bar */
  border: 1px rgba(204, 204, 204, 0.77)d #ccc;
  border-radius: 10px;
  /* Rounded borders */
}

/* AttendeeTable Styles */
.attendee-table {
  overflow-x: auto;
  margin: 20px 20px;
  /* Add margin on all sides */
  border-radius: 10px;
}

.attendee-table table {
  width: 100%;
  border-collapse: collapse;
}

.attendee-table th,
.attendee-table td {
  border: 1px solid #ddd;
  padding: 10px;
  /* Adjust padding */
  text-align: center;
}

/* Apply hover effect only to <tr> elements */
.attendee-table tr:hover {
  background-color: #6c40d2;
  color: white;
}

/* Apply background color to <th> elements */
.attendee-table th {
  background-color: #f4f4f4;
  color: #121212;
}

/* Budget Page Styles */
.budget-page {
  padding: 30px;
  justify-content: center;
}

.budget-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* SearchBar Styles */
.search-bar {
  text-align: left;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* BudgetTable Styles */
.budget-table {
  overflow-x: auto;
  max-height: 400px;
  /* Fixed height for the table */
  max-width: 1100px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 0px 70px;
}

.budget-table table {
  width: 100%;
  border-collapse: collapse;
}

.budget-table th,
.budget-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

/* Apply hover effect only to <tr> elements */
.budget-table tr:hover {
  background-color: #6c40d2;
  color: white;
}

/* Apply background color to <th> elements */
.budget-table th {
  background-color: #f4f4f4;
  color: #121212;
}

.budget-table .company-column {
  white-space: nowrap;
  width: auto;
}

/* Scrollbar styles */
.budget-table {
  overflow-y: scroll;
}

.budget-table::-webkit-scrollbar {
  width: 10px;
}

.budget-table::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}


.budget-table::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}